# Общие папки
node_modules/
build/
dist/
.cache/
.out/

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Настройки среды разработки
.vscode/
.idea/
.DS_Store
*.env
.env.*
*.local

# Кэш
.cache/
*.lock

# Тесты
coverage/
*.snap

# Папки для статического хостинга
out/
.next/
.vercel/
.surge/

# Misc
*.pem
*.key
*.crt
*.pfx
*.bak
*.swp
*.tmp
*.tmp.*
*.orig
